.class{
    color: black;
}
td{
    background-color: rgb(17, 177, 17);
}
.absent{
    background-color: rgb(183, 48, 48);
}
th{
    background-color: ;
}
.slot{
    color: white;
    color: lightseagreen;
    WW
}
.no{
    background-color: lightskyblue;
}